.container-primary {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: aliceblue;
}

.body__video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

.container-primary .main-container {
  width: 100%;
  max-width: 320px;
  background: #5d362b;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container-primary .main-container__button {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1000;
  color: rgb(255, 255, 255);
  background: black;
}
.container-primary .main-container__header {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container-primary .main-container__logo {
  background-color: #ffffff;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 50px 8px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-primary .main-container__logo-img {
  width: 100%;
  height: auto;
}
.container-primary .main-container__title {
  color: #F1F5F9;
  margin-top: 1em;
  font-size: 1.2em;
  text-shadow: 2px 2px 10px #ffffff;
}
.container-primary .main-container__link-container {
  background-color: rgb(60, 35, 28);
  margin: 0;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 90%;
  padding: 2em 1em 60% 1em;
  border-radius: 1em;
}
.container-primary .main-container__link-item {
  width: 100%;
  background-color: #ad8a6b;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.container-primary .main-container__link-item:hover {
  transform: scale(1.05);
}
.container-primary .main-container__link {
  width: 100%;
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7em;
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-shadow: 2px 1px 19px #ffffff;
}
.container-primary .main-container__link i {
  font-size: 1.3em;
}
.container-primary .main-container__link:hover {
  background-color: rgb(147.3565217391, 112.5086956522, 81.6434782609);
}
.container-primary .main-container .footer {
  margin-top: auto;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: center;
  width: 100%;
}
.container-primary .main-container .footer__exit {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: #ad8a6b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  box-shadow: 0 0 15px white;
  transition: transform 0.3s ease;
}
.container-primary .main-container .footer__exit:hover {
  transform: scale(1.1);
  background-color: rgb(147.3565217391, 112.5086956522, 81.6434782609);
}
.container-primary .main-container .footer__exit-icon {
  color: #ffffff;
}

.cine {
  position: relative;
  width: 79%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.cine__top {
  content: "";
  background-color: #ffffff;
  width: 100%;
  height: 5em;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  box-shadow: 0 0 20px #5d362b;
  z-index: 3;
}
.cine__bottom {
  content: "";
  background-color: #ffffff;
  width: 100%;
  height: 5em;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 20px #5d362b;
  z-index: 4;
}
.cine__tv {
  width: 100%;
  height: 90%;
  display: flex;
  position: absolute;
  z-index: 2;
}
.cine__img-tv {
  width: 100%;
  height: 100%;
}

*, *:after,
*::before {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 85%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #F1F5F9;
}

li, ol, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select, textarea {
  border: none;
}

button {
  border: none;
}

img {
  object-fit: cover;
}

.py-4 {
  background-color: white;
}

select.form-select,
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
  width: fit-content;
}

/*# sourceMappingURL=styles.css.map */
