$primary-colors: #F1F5F9;
$secondary-colors: #ffffff;
$tertiary-colors: #4c82ef;
$white-color: #ffffff; 
$black-color: #000000; 
$dark-coffy: #5d362b; 
$color-button: #ad8a6b;
$color-button-hover: darken($color-button, 10%);
$background-main: #5d362b;
$background-opacity: rgb(60, 35, 28);

//colores para fondos
$background-body: aliceblue;
$background-table: white;