@use "./colors.scss" as c;

*, *:after,
*::before{
    box-sizing: inherit;
}




html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 85%;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: c.$primary-colors;
}

li, ol, ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: c.$white-color;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select, textarea{
    border: none;
}

button{
    border: none;
}

img{
    object-fit: cover;
}

.py-4{
    background-color: c.$background-table;
}


select.form-select,
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
  width: fit-content
}